* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  position: relative;
  top: 0;
  background: #000000;
  left: 0;
  z-index: 3;
  width: 100%;
  color: #fff;
  font-weight: 700;
  font-size: 17px;
  display: flex;
  align-items: center;
  height: 88px;
}
.nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  max-width: 1900px;
  margin: auto;
  width: 90%;
}
.logoWrapper {
  display: flex;
  align-items: center;
}
.logo {
  width: 120px;
}
.help {
  display: inline-block;
  text-decoration: none;
  margin: 4px 0 0 0.8rem;
  vertical-align: middle;
  color: #fff;
  padding: 2px 0 4px 0;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0.025em;
  transition: color 150ms ease-in-out;
  line-height: 23px;
  padding: 2px 0 4px 0.8rem;
  border-left: 2px solid #fff;
  transition: all 0.3s;
}
.help:hover {
  text-decoration: underline;
}
.submit {
  background: #191a1b;
  color: #fff;
  border: 1px solid #fff;
  font-size: 24px;
  margin-left: 1rem;
  padding: 6px 26px;
  border-radius: 8px;
}
.loaderContainer {
  width: 100vw;
  height: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.loader {
  border: 10px solid #f3f3f3;
  border-top: 10px solid #3498db;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.hero {
  padding: 80px 20px 115px;
  background-color: #dadbf1;
}
.containerHero {
  position: relative;
  z-index: 2;
  max-width: 720px;
  margin: 0 auto;
  width: 90%;
}
.containerHero h2 {
  color: #000000;
  font-size: 80px;
  line-height: 76ox;
  font-weight: 400;
  margin: 0 0 1rem;
  text-align: center;
}
.searchWrapper {
  margin-right: auto;
  margin-left: auto;
  max-width: 720px;
  position: relative;
}
.searchWrapper input {
  width: 100%;
  padding: 16px;
  font-style: 20px;
  line-height: 32px;
  color: #000;
  border-color: #000;
  border-radius: 4px;
}
.icon {
  position: absolute;
  top: 50%;
  right: 10px;

  transform: translate(-50%, -50%);
}

.cardsWrapper {
  width: 70%;
  margin: 50px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
}
.detailsWrapper {
  width: 80%;
  margin: 50px auto;
  display: grid;
}
.cardContainer {
  text-decoration: none;
  color: inherit;
}

.card {
  background-color: #f4f6f8;
  border-radius: 10px;
  padding: 20px 0px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 100%;
}
.details {
  background-color: #f4f6f8;
  border-radius: 10px;
  padding: 20px;
}
.details h1 {
  font-size: 24px;
  margin-bottom: 10px;
}
.details p {
  font-style: 16px;
}
.card h3,
.card p {
  padding: 0px 20px;
}
.card a {
  text-decoration: none;
  color: inherit;
}

.titleWrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.hr {
  color: #e7eaee;
}
.error-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.error-page a {
  padding: 8px 17px;
  border-radius: 8px;
  margin-top: 10px;
  background-color: #000;
  color: white;
  text-decoration: none;
}
.createPost {
  width: 60%;
  margin: 50px auto;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #f4f6f8;
  border-radius: 10px;
  padding: 20px;
}
.form div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.form input,
.form button {
  padding: 10px;
  border-radius: 10px;
  outline: none;
}
.form p {
  background-color: red;
  color: white;
  padding: 5px;
  text-align: center;
  border-radius: 10px;
}
.form button {
  background-color: #000;
  color: white;
}

.footer-container {
  padding: 40px 0;
  background-color: #000;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
}

.footer-inner {
  max-width: 1900px;
  margin: 0 auto;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  position: relative;
}

.footer-column {
  display: flex;
  flex-direction: column;
}

.footer-column h3 {
  font-size: 24px;
  line-height: 28px;
  font-weight: bold;
  margin-bottom: 1rem;
}

.footer-column h4 {
  margin-top: 20px;
  font-size: 21px;
}

.footer-column a {
  text-decoration: none;
  color: inherit;
  font-size: 16px;
  margin-bottom: 10px;
}

.footer-copyright {
  position: absolute;
  right: 0;
  bottom: 0;
}

.footer-copyright img {
  width: 138px;
  margin-top: 20px;
}

@media screen and (max-width: 991px) {
  .createPost {
    width: 60%;
  }
  .help {
    font-size: 20px;
  }
  .containerHero h2 {
    font-size: 60px;
  }
  .searchWrapper input {
    padding: 10px;
  }
  .cardsWrapper {
    width: 80%;
    gap: 40px;
  }
  .header {
    height: 100px;
  }
  .footer-inner {
    grid-template-columns: repeat(3, 1fr);
    padding-bottom: 50px;
  }

  .footer-column {
    width: 100%;
    margin-bottom: 20px;
  }

  .footer-copyright {
    position: relative;
  }
}

@media screen and (max-width: 800px) {
  .createPost {
    width: 80%;
  }
  .containerHero h2 {
    font-size: 40px;
  }
  .searchWrapper input {
    padding: 8px;
  }
  .cardsWrapper {
    width: 90%;
    grid-template-columns: 1fr;
    gap: 30px;
  }
  .submit {
    font-size: 20px;
  }
}

@media screen and (max-width: 620px) {
  .header {
    height: 120px;
  }
  .containerHero h2 {
    font-size: 30px;
  }
  .createPost {
    width: 90%;
  }
  .submit {
    margin-top: 10px;
    margin-left: 0px;
    padding: 3px 10px;
  }
  .cardsWrapper {
    width: 95%;
    gap: 20px;
  }
  .footer-inner {
    grid-template-columns: 1fr;
    padding-bottom: 40px;
  }

  .footer-column {
    margin-bottom: 30px;
  }
  .hero {
    padding: 80px 10px 115px;
  }
}
