* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  position: relative;
  top: 0;
  background: #000000;
  left: 0;
  z-index: 3;
  width: 100%;
  color: #fff;
  font-weight: 700;
  font-size: 17px;
  display: flex;
  align-items: center;
  -webkit-transition: margin-top 0.7s ease;
  transition: margin-top 0.7s ease;
  height: 88px;
}
.nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  max-width: 1900px;
  margin: auto;
  width: 90%;
}
.logoWrapper {
  display: flex;
  align-items: center;
}
.logo {
  width: 120px;
}
.help {
  display: inline-block;
  text-decoration: none;
  margin: 4px 0 0 0.8rem;
  vertical-align: middle;
  color: #fff;
  padding: 2px 0 4px 0;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0.025em;
  transition: color 150ms ease-in-out;
  line-height: 23px;
  padding: 2px 0 4px 0.8rem;
  border-left: 2px solid #fff;
  transition: all 0.3s;
}
.help:hover {
  text-decoration: underline;
}
.submit {
  background: #191a1b;
  color: #fff;
  border: 1px solid #fff;
  font-size: 24px;
  margin-left: 1rem;
  padding: 6px 26px;
  border-radius: 8px;
}
.hero {
  padding-top: 80px;
  padding-bottom: 115px;
  background-color: #dadbf1;
}
.containerHero {
  position: relative;
  z-index: 2;
  max-width: 720px;
  margin: 0 auto;
  width: 90%;
}
.containerHero h2 {
  color: #000000;
  font-size: 80px;
  letter-spacing: -4px;
  line-height: 76ox;
  font-weight: 400;
  margin: 0 0 1rem;
  text-align: center;
}
.searchWrapper {
  margin-right: auto;
  margin-left: auto;
  max-width: 720px;
  position: relative;
}
.searchWrapper input {
  width: 100%;
  padding: 16px;
  font-style: 20px;
  line-height: 32px;
  color: #000;
  border-color: #000;
  border-radius: 4px;
}
.icon {
  position: absolute;
  top: 50%;
  right: 10px;

  transform: translate(-50%, -50%);
}
.cardsWrapper {
  width: 60%;
  margin: 50px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.card {
  background-color: #f4f6f8;
  border-radius: 10px;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.titleWrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.hr {
  color: #dbe1e9;
}
